{% extends "Welcome.html" %}
{% load static %}
{% block Ads %}
<div class="row m-auto">
    <div class="col-12">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="ads-preview" id="ads_preview">
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <input type="file" class="form-control" id="FileUpload">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6 m-auto">
                        <input type="button" id="previewBTN" class="form-control btn btn-secondary" value="Preview" disabled onclick="preview()">
                    </div>
                    <div class="col-6 m-auto">
                        <input type="button" class="form-control btn btn-success" value="Upload">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'js/Ads.js' %}"></script>
{% endblock %}