<!DOCTYPE html>
<html lang="en">

    {% load static %}

    <head>
        {% include "head.html" %}
    </head>
    <body class="sb-nav-fixed">
        {% if content %}
        <video style="width:110vw;position: fixed;left: 0px;z-index: -3;" autoplay loop  muted>
            <source src="{% static 'video/background-video6.mp4' %}" type="video/mp4">
        </video> 
        <img src="{% static 'img/maindbg.png' %}" alt="Italian Trulli" style="width:100vw;position: fixed;left: 0px;bottom: 0%;z-index: -2;">
        <img src="{% static 'img/maind.png' %}" alt="Italian Trulli" style="width:100vw;position: fixed;left: 0px;bottom: 10%;z-index: 0;">
        {% endif %}
        {{ room_name|json_script:"room-name" }}
        {% block Home %}
        {% endblock %}
        {% block Welcome %}
        {% endblock %}
        {% include "scripts.html" %}
    </body>
</html>
