{% extends "Welcome.html" %}
{% load static %}
{% block Prices %}
<main>
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="row">
            <div class="col-12">
                <div class="card text-white" style="background: linear-gradient(306deg, #71b7e6 -50%, #123345 75%);">
                    <div class="card-body">
                        <div class="row mt-4">
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                 <h2 class="m-0">Gasoline95</h2>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <input type="number" step="0.001" min="0.000" max="999.999" id="gas95" class="form-control text-center" value="{{gas95}}" placeholder="Gas 95 Price" style="font-size: 30px;font-weight: bold;">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                 <h2 class="m-0">Gasoline92</h2>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <input type="number" step="0.001" min="0.000" max="999.999" id="gas92" class="form-control text-center" value="{{gas92}}" placeholder="Gas 92 Price" style="font-size: 30px;font-weight: bold;">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                 <h2 class="m-0">Diesel</h2>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <input type="number" step="0.001" min="0.000" max="999.999" id="diesel" class="form-control text-center" value="{{diesel}}" placeholder="Diesel Price" style="font-size: 30px;font-weight: bold;">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                 <h2 class="m-0">CNG</h2>
                            </div>
                            <div class="col-6 d-flex justify-content-center align-items-center">
                                <input type="number" step="0.001" min="0.000" max="999.999" id="cng" class="form-control text-center" value="{{cng}}" placeholder="CNG Price" style="font-size: 30px;font-weight: bold;">
                            </div>
                        </div>
                        <div class="row mt-4 mb-2">
                            <div class="col-8 m-auto d-flex justify-content-center align-items-center">
                                <button class="btn m-auto" style="width: 100%;background: linear-gradient(130deg, #71b7e6 -50%, #123345 75%);color: white;width: 100%;font-size: 20px;font-weight: bold;padding: 10px;margin-top: 20px !important;box-shadow: 0px 0px 10px 1px #f2f2f2;" onclick="changePrices()">Change With New Prices</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/Prices.js' %}"></script>
    </div>
</main>
{% endblock %}